@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@700&display=swap");

.outerbox1 {
  width: 390px;

  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.53);
   margin-left: 8px;
   border-radius: 10px;

 
}
.outerbox1 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
}
.box1 {
  display: grid;
  grid-template-rows:100%;
  grid-template-columns: 50% 50%;
  
  
}
.box1 p {
  font-size: 22px;
  font-weight: bold;
  color: black;
  font-family: "Scheherazade New", serif;
}
.box1 i {
  color: cornflowerblue;
}
.viewdetails{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;

}
.textnone{
  text-decoration: none !important;
  color: gray !important;
}
.textnone:hover{
  cursor: pointer;
  color: #3498db !important;
}

