.item{
    transition: .5s ease-in-out;
}
.item:hover{
    filter: brightness(80%);
}
.img-gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imgcard{

    box-shadow: -1px 2px 6px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 2px 6px -2px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 2px 6px -2px rgba(0,0,0,0.75);
     border-radius: 8px;
     width: 320px;
    
     margin-top: 20px;
     margin-bottom: 20px;
}
.imgcard img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.imgcard i{
    color: darkgray;
    font-size: 18px;
    cursor: pointer;
    color: #636e72;
}
.imgcard:first-child i:hover {
transform: scale(1.2);

}